@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif, FontAwesome;
}

/* Color Palette */
body {
  background-color: #011936;
}
body .navMenu {
  text-align: center;
  padding: 0.5rem;
}
body .navMenu .active {
  color: #ED254E;
  text-shadow: 0px 0px 8px rgb(237, 37, 78);
}
body .navMenu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1em;
  border-right: 2px dotted #ED254E;
  transition: all 0.2s ease-in-out;
}
body .navMenu a:last-child {
  border-right: 0;
}
body .navMenu a:hover {
  color: #ED254E;
}
body .container, body .border-properties, body .column, body .colors, body .preview, body .border-code {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body .container {
  min-height: 94vh;
}
body .container .card-container {
  width: 600px;
  min-width: auto;
  height: auto;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #465362;
  background-color: #C2EABD;
  text-align: center;
}
body .container .card-container .title {
  font-size: 14px;
  font-weight: bold;
  color: #011936;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .container .card-container .border-properties {
  margin-top: 5px;
}
body .container .card-container .border-properties .column {
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 5px;
  color: white;
  background-color: #ED254E;
  border: 2px solid #011936;
  border-bottom-style: dotted;
}
body .container .card-container .border-properties .column:first-child {
  border-radius: 5px 5px 0 0;
}
body .container .card-container .border-properties .column .input-group:nth-child(2) {
  border-right: 0;
}
body .container .card-container .border-properties .column .input-group {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border-right: 2px dotted #011936;
}
body .container .card-container .border-properties .column .input-group label {
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 25px;
  font-size: 15px;
  margin-bottom: 0;
}
body .container .card-container .border-properties .column .input-group input::-webkit-outer-spin-button, body .container .card-container .border-properties .column .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .container .card-container .border-properties .column .input-group input[type=number] {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  text-align: center;
  font-size: 9px;
  border: 0;
  margin: 0 !important;
  border-radius: 5px !important;
}
body .container .card-container .border-properties .column .input-group span {
  font-size: 11px;
  color: white;
  margin-left: 5px !important;
}
body .container .card-container .border-properties .column .input-group .form-range {
  width: 65%;
  height: 25px;
  cursor: pointer;
  margin-inline: 10px !important;
}
body .container .card-container .border-properties .column .input-group .form-select {
  width: 50%;
  height: 25px;
  padding: 5px;
  border-radius: 5px !important;
  margin-inline: 20px !important;
  cursor: pointer;
  border: 1px dotted white;
  font-size: 13px;
  line-height: 1;
  background-color: transparent;
  color: white;
  --bs-form-select-bg-img: url("https://api.iconify.design/uil:angle-down.svg?color=%23ffffff");
}
body .container .card-container .border-properties .column .input-group .form-select:focus {
  box-shadow: none;
}
body .container .card-container .border-properties .column .input-group .form-select option {
  background-color: white;
  color: #000;
}
body .container .card-container .border-properties .column .input-group input[type=color] {
  width: 45px;
  height: 25px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: 0.25s;
}
body .container .card-container .border-properties .column .input-group input[type=color]:hover {
  scale: 1.05;
}
body .container .card-container .border-properties .column .input-group input[type=color]::-webkit-color-swatch {
  border-radius: 10px;
  border: 1px solid white;
}
body .container .card-container .border-properties .column .input-group input[type=color]::-moz-color-swatch {
  border-radius: 10px;
  border: 1px solid white;
}
body .container .card-container .border-properties .column .colors {
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  border-top: 2px dotted #011936;
}
body .container .card-container .border-properties .column .colors .border-color, body .container .card-container .border-properties .column .colors .bg-color {
  margin-bottom: 0;
}
body .container .card-container .border-properties .column .colors .border-color label, body .container .card-container .border-properties .column .colors .bg-color label {
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 10px;
  line-height: 1.75;
}
body .container .card-container .border-properties .individual {
  display: none;
}
body .container .card-container .border-properties .individual .input-group:nth-child(3), body .container .card-container .border-properties .individual .input-group:nth-child(4) {
  border-bottom: 0;
}
body .container .card-container .border-properties .individual .input-group {
  border-bottom: 2px dotted #011936;
  padding: 5px;
}
body .container .card-container .border-properties .individual .input-group label {
  line-height: 1.5 !important;
}
body .container .card-container .border-properties .individual .input-group span {
  font-size: 9px;
  margin-left: 2px !important;
}
body .container .card-container .border-properties .individual .input-group .form-select {
  width: 4% !important;
  margin-inline: 5px !important;
}
body .container .card-container .border-properties .individual .input-group:nth-child(4) {
  border-right: 0;
}
body .container .card-container .border-properties .individual .bg-color {
  height: 30px;
  border: 0 !important;
}
body .container .card-container .form-check {
  background-color: #ED254E;
  border: 2px solid #011936;
  border-top: 0;
  margin: 0;
  padding: 5px 0;
  border-radius: 0 0 5px 5px;
  color: white;
}
body .container .card-container .form-check label {
  font-size: 14px;
  line-height: 1.75;
}
body .container .card-container .form-check input {
  float: initial;
  margin-inline: 10px;
  margin-top: 0;
  vertical-align: middle;
  border-color: #011936;
  cursor: pointer;
}
body .container .card-container .border-preview small {
  font-size: 8.5px;
  letter-spacing: 1px;
  opacity: 0.5;
  cursor: default;
}
body .container .card-container .border-preview .preview {
  width: 100%;
  height: 175px;
  position: relative;
  background-color: #F9DC5C;
  border-radius: 5px;
}
body .container .card-container .border-preview .preview span {
  position: absolute;
  font-size: 16px;
  letter-spacing: 1px;
  color: #011936;
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .container .card-container .border-code {
  flex-wrap: nowrap;
  margin-top: 10px;
}
body .container .card-container .border-code .form-floating {
  width: 100%;
}
body .container .card-container .border-code .form-floating textarea {
  height: 100px;
  border: 2px solid #011936;
  border-radius: 5px;
  cursor: copy;
  font-size: 14px;
  color: #011936;
}
body .container .card-container .border-code .form-floating textarea::-moz-selection {
  background-color: #F9DC5C;
}
body .container .card-container .border-code .form-floating textarea::selection {
  background-color: #F9DC5C;
}
body .container .card-container .border-code .form-floating label {
  font-size: 14px;
}
body .container .card-container .border-code button {
  background-color: #ED254E;
  margin-left: 5px;
  transition: 0.25s;
}
body .container .card-container .border-code button:hover {
  background-color: var(--bs-btn-hover-bg);
  scale: 1.05;
}/*# sourceMappingURL=styles.css.map */