@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Kanit', sans-serif, FontAwesome;
}

/* Color Palette */
$redCrayola: #ED254E; $naplesYellow: #F9DC5C; $teaGreen: #C2EABD; $oxfordBlue: #011936; $Charcoal: #465362;

body {
    background-color: $oxfordBlue; 
    .navMenu {
        text-align: center;
        padding: 0.5rem;     
        .active { color: #ED254E; text-shadow: 0px 0px 8px rgba(237, 37, 78, 1); }       
        a {
            color: white;
            font-size: 16px; text-decoration: none; text-transform: uppercase;  
            padding: 0 1em; border-right: 2px dotted $redCrayola; transition: all 0.2s ease-in-out;
            &:last-child { border-right: 0; }
            &:hover { color: $redCrayola; }
        }
    }

    .container, .border-properties, .preview, .border-code { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; }

    .container {
        min-height: 93vh; padding: 1em;
        .card-container { 
            width: 600px; height: auto;
            padding: 1em; border-radius: 10px; box-shadow: 0px 0px 5px 5px $Charcoal;
            background-color: $teaGreen; text-align: center;  

            .title {
                font-size: 14px; font-weight: bold;
                color: $oxfordBlue; user-select: none;
            }
            
            .border-properties {     
                flex-direction: row; flex-wrap: nowrap;
                margin: 5px 0 auto; 
                .column {
                    width: 50%; padding: 1em 0.5rem; 
                    border: 2px solid $oxfordBlue; border-bottom-style: dotted; background-color: $redCrayola; color: white; 
                    &:first-child { border-radius: 5px 0 0 0; border-right: 2px dotted $oxfordBlue; }
                    &:nth-child(2) { border-radius: 0 5px 0 0; border-left: 0; }
                    
                    .input-group {
                        display: flex; flex-direction: column; justify-content: center; margin-bottom: 5px; 

                        label {                       
                            width: 100%; height: 25px; display: inline-block;
                            font-size: 15px; margin-bottom: 0;      
                        }   
                        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
                        input[type = number] {
                            width: 25px; height: 25px;
                            appearance: none; -moz-appearance: textfield;
                            text-align: center; font-size: 9px; border: 0; margin: 0 !important; border-radius: 5px !important;
                        }    
                        span { font-size: 10px; line-height: 2; }    

                        .input-row { display: flex; align-items: center; width: 100%; gap: 5px; }
                        .form-range {
                            flex: 1; height: 25px; cursor: pointer;
                        }

                        .form-select {      
                            width: 100%; height: 25px;
                            border-radius: 5px !important; cursor: pointer; 
                            border: 1px solid $oxfordBlue; font-size: 12px; line-height: 1; 
                            color: #000; --bs-form-select-bg-img: url('https://api.iconify.design/uil:angle-down.svg?color=%23000000');
                            &:focus { box-shadow: none; }
                        }                  

                        input[type = color] {                       
                            width: 50px; height: 25px;
                            border: 0; border-radius: 5px !important; background: transparent; cursor: pointer; transition: 0.25s;
                            &:hover { scale: 1.05; }
                            &::-webkit-color-swatch { border-radius: 5px; border: 1px solid $oxfordBlue; }
                            &::-moz-color-swatch { border-radius: 5px; border: 1px solid $oxfordBlue; }
                        }      
                    }    
                        
                    .border-color, .bg-color {
                        flex-direction: row;
                        border-top: 2px dotted $oxfordBlue; margin-bottom: 0; padding-top: 0.75rem;

                        label { width: auto; margin-right: 10px; }
                        small { 
                            font-size: 9px; color: $naplesYellow; 
                            margin: 6px 0 0 8px !important; cursor: help;
                        }
                    }  
                }      

                .individual { 
                    width: 100%; flex-wrap: wrap; display: none; 
                    padding-bottom: 0.5rem; border-radius: 5px 5px 0 0;                   
                    .input-group {
                        width: 50%; flex-direction: row; flex-wrap: nowrap;
                        margin-bottom: 10px;
                        
                        label { width: fit-content; margin-right: 8px; }
                        .form-select { flex: 1; }      
                        &:nth-child(1), &:nth-child(3) { border-right: 2px dotted $oxfordBlue; padding-right: 5px; }  
                        &:nth-child(2), &:nth-child(4) { padding-left: 5px; }   
                        &:nth-child(3), &:nth-child(4) { border-bottom: 2px dotted $oxfordBlue; padding-bottom: 0.5rem; margin-bottom: 0; } 
                    }
                    .bg-color { border: 0 !important; margin: 0 auto; padding-top: 0.5rem; }
                }      
            }    

            .form-check {
                background-color: $redCrayola; border: 2px solid $oxfordBlue; border-top: 0; border-bottom-style: dotted;
                margin: 0; padding: 5px 0; color: white;
                label { font-size: 14px; line-height: 1.75; }
                input {
                    float: initial; margin-inline: 10px; margin-top: 0;
                    vertical-align: middle; border-color: $oxfordBlue; cursor: pointer;
                }
            }

            .reset-container {
                padding: 5px; border-radius: 0 0 5px 5px;
                background-color: $redCrayola; border: 2px solid $oxfordBlue; border-top: 0;
                .reset-btn {
                    background-color: $Charcoal; padding: 5px 10px;
                    font-size: 12px;
                    &:hover { background-color: #000; } 
                    i { font-size: 10px; }
                }
            }

            .border-preview {   
                margin: 5px 0;
                small { font-size: 10px; letter-spacing: 1px; opacity: .65; cursor: default; }
                .preview {
                    width: 100%; height: 130px; position: relative;
                    background-color: $naplesYellow; border-radius: 5px;
                    span {
                        position: absolute; 
                        font-size: 16px; letter-spacing: 1px; color: $oxfordBlue; opacity: .5; user-select: none;
                    }
                }
            }

            .border-code {
                flex-wrap: nowrap;
                margin: 10px 0 auto; 
                .form-floating {
                    width: 100%;
                    textarea {
                        height: 110px;
                        border: 2px solid $oxfordBlue; border-radius: 5px; cursor: copy;
                        font-size: 14px; line-height: 1.5; color: $oxfordBlue;      
                        &::selection { background-color: $naplesYellow; }                  
                    } 
                    label { font-size: 14px; }
                }
                button {
                    background-color: $redCrayola;
                    margin-left: 5px; transition: 0.25s;
                    &:hover { background-color: var(--bs-btn-hover-bg); scale: 1.05; }
                }
            }                     
        }
    }
}